<!DOCTYPE html>
<html lang="en">
<head>
    <title>Foreign Film App</title>
</head>
<body>
    <h1>Edit Film Information</h1>
    <form action="/films/<%= films.id %>?_method=PUT" method="POST">
    Title: 
    <input 
        type="text" 
        name="title" 
        value="<%= films.title %>"
    /> <br/>
    Director: 
    <input 
        type="text" 
        name="director" 
        value="<%= films.director %>"
    /> <br/>
    Starring: 
    <input 
        type="text" 
        name="starring" 
        value="<%= films.starring %>"
    /> <br/>
    Country: 
    <input 
        type="text" 
        name="country" 
        value="<%= films.country %>" 
    /> <br/>
    Plot: 
    <input
        type="text" 
        name="plot" 
        value="<%= films.plot %>" 
    /> <br/>
    Genre: 
    <input 
        type="text" 
        name="genre" 
        value="<%= films.genre %>"
    /> <br/>
    Setting: 
    <input 
        type="text" 
        name="setting" 
        value="<%= films.setting %>"
    /> <br/>
    Run Time (min): 
    <input 
        type="number" 
        name="runTime" 
        value="<%= films.runTime %>"
    /> <br/>
    Languages: 
    <input 
        type="text" 
        name="languages" 
        value="<%= films.languages %>"
    /> <br/>
    Seen the Film?: 
    <input 
        type="checkbox" 
        name="seenTheFilm" 
        <% if (films.seenTheFilm) { %>
            checked
        <% } %>
    /> <br/>
    Film Poster: 
    <input 
        type="text" 
        name="filmPoster"  
        value="<%= films.filmPoster %>"
    /> <br/>
    
    <input type="submit" value="Update Film"/>
    </form>
    <a href="/films">Back to Index</a>
</body>
</html>