<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index Page</title>
    <link rel="stylesheet" type="text/xss" href="/css/style.css">
</head>
<body>
    <h1>Index Page</h1>
    <ul>
        <% for (let i = 0; i < films.length; i++) { %> 
            <li id="items">
                
                <a href="/films/<%= films[i].id%>"><img id="poster" src="<%= films[i].filmPoster%>" width="130px" ></a> <br/>
                <a href="/films/<%= films[i].id %>" ><%= films[i].title %></a> |
                <a href="/films/<%= films[i].id %>/edit">Edit</a> 
                
                <form action="/films/<%= films[i].id %>?_method=DELETE" method="POST"> <br/>
                    <input type="submit" value="Delete">
                </form> <br/>
                
            </li>
        <% } %>
    </ul>
    <a href="/films/new">Create a New Film</a>
</body>
</html>



