<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index Page</title>
    <link rel="stylesheet" type="text/xss" href="/css/style.css">
</head>
<body>
    <h1>Index Page</h1>
    <ul>
        <% for (let i = 0; i < films.length; i++) { %> 
            <li>
                <a href="/films/<%= films[i].id %>" ><%= films[i].title %></a>
                is from <%= films[i].country %>. 
                <a href="/films/<%= films[i].id %>/edit">Edit</a>
                <form action="/films/<%= films[i].id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete">
                </form>
            </li>
        <% } %>
    </ul>
    <a href="films/new">Create a New Film</a>
</body>
</html>



